/* styles/AddClientForm.module.css */

.newClientDetailsTitle {
  margin-bottom: 15px;
  color: var(--text-color-primary);
}

.formGroup {
  margin-bottom: 15px;
}

.inputLabel {
  display: block;
  margin-bottom: 5px;
}

.textInput {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color-medium);
  background-color: var(--input-background);
  color: var(--text-color-primary);
}

.checkboxInput {
  margin-right: 5px;
}

.textareaInput {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color-medium);
  background-color: var(--input-background);
  color: var(--text-color-primary);
}
