.rootLayout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mainContent {
  flex-grow: 1;
  overflow: auto;
  height: 100vh;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.desktopSidebar {
  display: block;
}

.mobileSidebar {
  display: none;
}

@media (max-width: 768px) {
  .rootLayout {
    display: block;
    position: static;
    height: auto;
  }

  .mainContent {
    height: auto;
    overflow: visible;
    padding-top: 60px; /* Add space for the fixed top navigation bar */
  }

  .desktopSidebar {
    display: none;
  }

  .mobileSidebar {
    display: block;
  }
}
